<template>
    <div>
        <div class="condition">
            <div  v-for="(item,index) in condition" :key="index">
                <h3>{{item.title}}</h3>
                <div class="hh">
                    <a href="javascript:;" v-for="(category,cateIndex) in item.category" :key="cateIndex" @click="getConSinger(category,index)">
                        <span :class="{active:category.name === choose[index]}">{{category.name}}</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="singerContent">
            <div class="imgBox">
                <div class="singerItem"  v-for="item in singerList" :key="item.id">
                    <div class="image">
                        <img :src="item.picUrl" alt="加载中" width="100%" height="100%">
                    </div>
                    <span>{{item.name}}</span>
                </div>
            </div>
        </div>
        <!-- <Item :list="singerList" :width="15"></Item> -->
    </div>
</template>

<script>
import {singerList} from '@/api/instance'
import Item from '@/components/item'
export default {
    name:'Singer',
    created() {
        this.getSingerList()
    },
    data() {
        return {
            singerList:[], //歌手列表
            choose:['全部','全部','热门'], //选择的要求
            condition:[
                {
                    title:'语种:',
                    category:[
                        {name:'全部',value:-1},
                        {name:'华语',value:7},
                        {name:'欧美',value:96},
                        {name:'日本',value:8},
                        {name:'韩国',value:16},
                        {name:'其他',value:0}
                    ]
                },
                {
                    title:'分类:',
                    category:[
                        {name:'全部',value:-1},
                        {name:'男歌手',value:1},
                        {name:'女歌手',value:2},
                        {name:'乐队组合',value:3}
                    ]
                },
                {
                    title:'筛选:',
                    category:[
                        {name:'热门',value:-1},
                        {name:'A',value:'a'},
                        {name:'B',value:'b'},
                        {name:'C',value:'c'},
                        {name:'D',value:'d'},
                        {name:'E',value:'e'},
                        {name:'F',value:'f'},
                        {name:'G',value:'g'},
                        {name:'H',value:'h'},
                        {name:'I',value:'i'},
                        {name:'J',value:'j'},
                        {name:'K',value:'k'},
                        {name:'L',value:'l'},
                        {name:'M',value:'m'},
                        {name:'N',value:'n'},
                        {name:'O',value:'o'},
                        {name:'P',value:'p'},
                        {name:'Q',value:'q'},
                        {name:'R',value:'r'},
                        {name:'S',value:'s'},
                        {name:'T',value:'t'},
                        {name:'U',value:'u'},
                        {name:'V',value:'v'},
                        {name:'W',value:'w'},
                        {name:'X',value:'x'},
                        {name:'Y',value:'y'},
                        {name:'Z',value:'z'},

                    ]
                }
            ]
        }
    },
    components: {
        Item
    },
    methods: {
        getSingerList() {
            singerList.getSingerList().then(res => {
                this.singerList = res.data.artists
                console.log(this.singerList);
            })
        },
        getConSinger(category,index) {
            console.log(category.value);
            let condition = {}
            if(index === 0) {
                condition.params = {
                    area:category.value
                }
            }
            else if(index === 1) {
                condition.params= {
                    type:category.value
                }
            }
            else {
                condition.params= {
                    initial:category.value
                }
            }
            this.choose.splice(index,1,category.name)
            singerList.getSingerList(condition).then(res => {
                this.singerList = res.data.artists
            })
        }
    }

}
</script>

<style lang="less" scoped>
@import url('index.less');
</style>