h3 {
    width: 30px;
    font-size: 13px;
    color: 	#666666;
    display: inline-block;
}
a {
    position: relative;
    font-size: 13px;
    height: 30px;
    text-align: center;
    display: inline-block;
    color: 	#666666;
    text-decoration: none;
    span {
        margin: 0 15px 0 16px;
        padding: 0 5px 0 5px;
    }
    .active {
        color: white!important;
        display: inline-block;
        
        border-radius: 3px;
        background: #8F9096;
    }
    span:hover {
        color: black;
    }
}
a:not(:first-of-type)::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '|';
    text-align: left;
    color: #D4CCD4;
}
.condition {
    padding: 20px 0 17px 0;
    border-bottom:1px solid #E1E1E2;
}
.hh {
    vertical-align: top;
    width: calc(100% - 30px);
    display: inline-block;
}

.singerContent {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 20px 0 50px 0;
    .singerItem {
        width: 15%;
        margin-right:2%;
        display: inline-block;
        box-sizing: border-box;
        margin-bottom: 20px;
        .image {
            position: relative;
            width: 100%;
            height: 0px;
            padding-top: 100%; 
            box-sizing: border-box;
            border: 1px solid #E1E1E2;
        }
        img {
            position: absolute;
            left: 0;
            top: 0;
        }
        span {
            display: inline-block;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
        }
    }
    .singerItem:nth-of-type(6n) {
        margin-right:0px;
    }
}
.imgBox {
    width: 100%;
    box-sizing: border-box;
}