h4 {
    line-height: 20px;
    font-size: 14px;
}
.recArea {
    display:flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.recommend {
    width:18%;
    box-sizing: border-box;
    padding:0 0 10px 0;
    cursor: pointer;
    margin-bottom: 20px;
}
.content {
    margin-bottom: 20px;
}
.recWords {
    margin-top: 5px;
    width: 100%;
    display: block;
    font-size: 14px;
    line-height: 20px;
    height: 40px;
}
.imgBox {
    width: 100%;
    box-sizing: border-box;
    position:relative;
    border: 1px solid #E1E1E2;
    img {
        display:block;
    }
    .amount {
        color: white;
        text-align: right;
        line-height: 22px;
        padding-right: 5px;
        height: 22px;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 40%;
        background-image: linear-gradient(to right,rgba(0, 0, 0, 0) ,rgba(0,0,0,0.3));
        
    }
}
.header {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    border-bottom: 1px solid #E1E1E2;
    margin-bottom: 20px;
}
.privateContent {
    width:32%;
    box-sizing: border-box;
    cursor: pointer;
}
.topSong {
    display: flex;
    flex-flow: column wrap;
    height: 300px;
    margin-bottom: 40px;
    border-top: 1px solid #E1E1E2;
    border-left: 1px solid #E1E1E2;
    border-bottom: 1px solid #E1E1E2;
    .songItem {
        display: flex;
        justify-content: flex-start;
        width:500px;
        height: 60px;
        padding: 10px 0 10px 0;
        box-sizing: border-box;
        border-right: 1px solid #E1E1E2;
    }
    .songItem:hover {
        background: #EBECED;
        color: #000000 ;
    }
    .specialItem {
        background:#F5F5F7;
    }
}
.table_index {
    width: 35px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.singer {
    line-height: 20px;
    font-size: 8px;
    color: 	#888888;
}
.musicInfo {
    margin-left: 10px;
}
.pushMV {
    width:24%;
    box-sizing: border-box;
    cursor: pointer;
}
.mvWords {
    margin-top: 5px;
    width: 100%;
    display: block;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mvArt {
    color:#666666;
    font-size: 13px;
}