<template>
    <div>
        <Swiper style="margin-top:20px;" :banner = banner></Swiper>

        <!-- //推荐歌单模块 -->
        <div class="content">
            <div class="header">
                <h2>推荐歌单</h2>
            </div>
            <div class="recArea">
                <div class="recommend" v-for="item in recommendList" :key="item.id" @click="jumpList(item.id)">
                    <div >
                        <div class="imgBox">
                            <div class="amount">{{playAmount(item.playCount)}}</div>
                            <img :src="item.picUrl" alt="" width="100%" height="100%">
                        </div>
                        <span class="recWords">{{item.name}}</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- //独家放送模块 -->
        <div class="content">
            <div class="header">
                <h2>独家放送</h2>
            </div>
            <div class="recArea">
                <div class="privateContent" v-for="item in privateContent" :key="item.id">
                    <div class="imgBox">
                        <img :src="item.picUrl" alt="" width="100%" height="100%">
                    </div>
                    <span class="recWords">{{item.name}}</span>
                </div>
            </div>
        </div>

        <!-- //最新音乐模块 -->
        <div class="content">
            <div class="header">
                <h2>最新音乐</h2>
            </div>
            <div class="topSong">
                <div class="songItem" :class="{specialItem: index === 1 || index === 3 || index === 6 || index === 8}" v-for="(item,index) in topSong" :key="item.id" @click="addMusic(item)">
                    <div class="table_index">{{modifyIndex(index)}}</div>
                    <img :src="item.album.picUrl" alt="" width="40px" height="40px">
                    <div class="musicInfo">
                        <h4>{{item.name}}</h4>
                        <div>
                            <span class="singer" v-for="singer in item.artists" :key="singer.id">{{singer.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="content">
            <div class="header">
                <h2>推荐MV</h2>
            </div>
            <div class="recArea">
                <div class="pushMV" v-for="item in recommendMV" :key="item.id">
                    <div class="imgBox">
                        <div class="amount">{{playAmount(item.playCount)}}</div>
                        <img :src="item.picUrl" alt="" width="100%" height="100%">
                    </div>
                    <span class="mvWords">{{item.name}}</span>
                    <span class="mvArt">{{item.artistName}}</span>
                </div>
            </div>
        </div>



    </div>
</template>

<script>
import { mixin } from '@/mixin/mixin'
import { discover } from '../../../api/instance.js'
import Swiper from '../../../components/swiper/Swiper'
export default {
    name:'musicList',
    mixins:[mixin],
    created() {
        this.getBanner()
        this.getRecommendList()
        this.getPrivateContent()
        this.getTopSong()
        this.getRecommendMV()
    },
    data() {
        return {
            banner:[],  //广告
            recommendList:[],  //推荐列表
            privateContent:[], //独家放送入口列表
            topSong:[], //最新音乐
            recommendMV: [] //推荐MV

        }

    },
    computed:{
        playAmount() {
            return function(amount) {
                if(amount<10000) return amount
                return parseInt( amount/10000 ) + '万'
            }
        },
        //补0
        modifyIndex() {
            return function(index) {
                if(index < 9) return '0'+ (index + 1)
                return '10'
            }
        }

    },
    methods: {
        getBanner() {
            discover.getBanner().then(res => {
                this.banner = res.data.banners
            }) 
        },
        getRecommendList() {
            discover.getRecommendList().then(res => {
                this.recommendList = res.data.result
            })
        },
        getPrivateContent() {
            discover.getPrivateContent().then(res => {
                this.privateContent = res.data.result
            })
        },
        getTopSong() {
            discover.getTopSong().then(res => {
                this.topSong = res.data.data.splice(0,10);
            })
        },
        getRecommendMV() {
            discover.getRecmmendMV().then(res => {
                this.recommendMV = res.data.result
            })
        },
        jumpList(id) {
            this.$router.push({
                path: `/songList/${id}`
            })
        }
    },
    components: {
        Swiper
    }
}
</script>

<style lang="less" scoped>
@import 'index.less';
</style>