.tabBar {
    margin-top: 60px;
    border-bottom: 1px solid #E1E1E2;
    div {
        display: inline-block;
        width:50px;
        span {
            color: 	#666666;
            display: inline-block;
            box-sizing: border-box;
            line-height: 40px;
            font-size: 15px;
            height: 40px;
            border-bottom: 1.5px solid white;
            cursor: pointer;
        }
        .choose {
            border-bottom: 1.5px solid #999999;
        }
        span:hover {
            color: black;
        }
    }
}
.table {
    margin-top: 20px;
    margin-bottom: 60px;
    border: 1px solid #E1E1E2;
    .tHeader {
        padding-left: 10px;
        height: 40px;
    }
    .tBody {
        display: flex;
        padding: 10px 0 10px 0;
        color: #666666;
        box-sizing: border-box;
        height: 60px;
        font-size: 12px;
        line-height: 40px;
        .index {
            
            text-align: center;
            font-size: 13px;
            width: 45px;
        }
        .content {
            display: flex;
            flex:1;
            position: relative;
            cursor: pointer;
            img {
                vertical-align: top;
            }
            // >div {
            //     display: inline-block;
            // }
            .first {
                width: 30%;
            }
            .singer {
                width: 20%;
            }
            .song {
                width: 30%;
            }
            .time {
                width: 20%;
            }
            .name {
                text-overflow: ellipsis;
                white-space: nowrap;
                color: 	#111111;
                width:calc(100% - 50px);
                overflow: hidden;
                margin-left: 5px;
                display: inline-block;
            }
        }
    }
    .tBody:nth-of-type(even) {
        background: #F5F5F7;
    }
    .tBody:hover {
        color: #111111;
        background: #E3E3E5;
    }
}
.icon-bofang1 {
    color:#C62F2F;
    font-size: 25px;
    vertical-align: middle;
}
.icon-bofang {
    position:absolute;
    top: 0;
    left: 7.5px;
    color: rgba(0,0,0, 0.7);
    font-size: 25px;
}
