<template>
    <div>
        <div class="tabBar">
            <div v-for="(item,index) in type" :key="index">
                <span :class="{choose:item.name === choose}" @click="getConMusic(item)">{{item.name}}</span>
            </div>
        </div>

        <div class="table">
            <div class="tHeader">
                <span class="iconfont icon-bofang1" style="cursor:pointer"></span>
                <span style="display:inline-block;line-height:25px;height:25px;font-size:14px;vertical-align: middle;cursor:pointer">播放全部</span>
            </div>
            <div class="tBody" v-for="(item,index) in newMusicList" :key="item.id" @click="addMusic(item)">
                <div class="index">{{index < 9 ?'0'+(index+1):index+1}}</div>
                <div class="content">
                    <div class="first">
                        <img class="imgs" v-lazy="item.album.blurPicUrl" alt="" width="40px" height="40px">
                        <span class="iconfont icon-bofang"></span>
                        <div class="name">{{item.name}}</div>
                    </div>
                    <div class="singer">{{item.album.artists[0].name}}</div>
                    <div class="song">{{item.name}}</div>
                    <div class="time">{{getTime(item.duration)}}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mixin} from '@/mixin/mixin'
import { newMusic } from '@/api/instance'
export default {
    name:'newMusic',
    mixins:[mixin],
    created() {
        this.getNewMusic()
    },
    mounted() {
        console.log(111);
        let imgs = document.getElementsByClassName("imgs")
        console.log(imgs);
        console.log(imgs);
        window.onscroll = () => {
            this.lazyLoad(imgs)
        }
    },
    data() {
        return {
            choose:'全部', //选择
            newMusicList:[], //最新音乐列表
            type:[
                {name:'全部',value:0},
                {name:'华语',value:7},
                {name:'欧美',value:96},
                {name:'韩国',value:16},
                {name:'日本',value:8}]
        }
    },
    methods: {
        lazyLoad(imgs) {
            let ch = document.documentElement.clientHeight;
            let sh = document.documentElement.scrollTop;
            console.log(Array.from(imgs));
            Array.from(imgs).forEach((item) => {
                console.log(111);
                if(ch + sh > this.getTop(item)) {
                    item.src = item.getAttribute("datasrc")
                    // item.src = item.data-src
                }
            });
            // [].forEach.call(imgs,(item) => {
            //     console.log(111);
            //     if(ch + sh > this.getTop(item)) {
            //         console.log(item);
            //         item.src = item.data-src
            //     }
            // })
        },
        getTop(e) {
            var T = e.offsetTop;
            while(e = e.offsetParent) {
                T += e.offsetTop;
            }
            return T;
        },
        getNewMusic() {
            newMusic.getNewMusic().then(res => {
                this.newMusicList = res.data.data
            })
        },
        getConMusic(item) {
            let condition = {
                params:{
                    type:item.value
                }
            }
            this.choose = item.name
            newMusic.getNewMusic(condition).then(res => {
                this.newMusicList = res.data.data
            })
        },
        addMusic(info) {
            this.$store.commit('pushSong',info)
        }
    }

}
</script>

<style lang="less" scoped>
@import url('index.less');
</style>