<template>
    <div>
        <h3>官方榜</h3>

        <div class="mainRank">
            <div class="rank" v-for="(item,index) in topList" :key="index">
                <div class="background">
                    <div class="title">
                        <span>{{item.name.slice(3,4)}}</span>
                        <span class="subTitle">{{item.name.slice(4,6)}}</span>
                        <span class="update">{{updateTime(item.updateTime)}}</span>
                        <span class="iconfont icon-bofang1"></span>  
                    </div>
                </div>
                <div class="rankContent">
                    <RankItem :id="item.id"></RankItem>
                    <div class="others">
                        查看全部>
                    </div>
                </div>
            </div>

            <!-- 歌手榜 -->
            <div class="rank">
                <div class="background">
                    <div class="title">
                        <span>{{artistList.name.slice(3,4)}}</span>
                        <span class="subTitle">{{artistList.name.slice(4,6)}}</span>
                        <span class="update">{{updateTime(Date.now())}}</span>
                        <span class="iconfont icon-bofang1"></span>  
                    </div>
                </div>
                <div class="rankContent">
                    <RankItem ></RankItem>
                    <div class="others">
                        查看全部>
                    </div>
                </div>
            </div>
        </div>

        <!-- 全球榜单 -->
        <h3>全球榜</h3>
        <Item :list="globalList" :width="15"></Item>
    </div>
</template>

<script>

import { topList } from '@/api/instance.js'
import RankItem from './rank'
import Item from '@/components/item'
export default {
    name:'topList',
    created() {
        this.getTopList()
    },
    data() {
        return {
            topList:[], //rank榜
            globalList:[], //全球榜
            artistList:{
                name:''
            }, //歌手榜
            artists:[]
        }
    },
    components: {
        RankItem,
        Item
    },
    computed: {
        updateTime() {
            return function(time) {
                time = new Date(time)
                let month = time.getMonth() + 1 < 10? `0${time.getMonth() + 1}`: time.getMonth() + 1
                let day = time.getDate() < 10? '0'+time.getDate(): time.getDate()
                return `${month}月${day}日更新`
            }
        }
    },
    methods: {
        getTopList() {
            topList.getTopList().then( res => {
                this.topList = res.data.list.slice(0,4)
                this.globalList = res.data.list.slice(4)
                this.artistList = res.data.artistToplist
            })
        },
        
    }

}
</script>


<style lang="less" scoped>
@import url('index.less');
</style>
