h3 {
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    font-size: 20px;
    border-bottom: 1px solid #E1E1E2;
}
.mainRank {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .rank {
        box-sizing: border-box;
        width: 32%;
        margin-top: 30px;
        border-left: 1px solid #EDEDED;
        margin-right: 2%;
        border-bottom: 1px solid #EDEDED;
        border-right: 1px solid #EDEDED;
        .rankContent {
            height: 280px;
        }  
    }
    .rank:nth-of-type(3n) {
        margin-right: 0px;
    }
}
.others {
    height: 40px;
    box-sizing: border-box;
    padding-right: 10px;
    line-height: 40px;
    text-align: right;
    font-size: 10px;
    color: #888888;
    background: #F5F5F7;
}
.others:hover {
    color:black
}
.background {
    padding: 20px 18px;
    position: relative;
    box-sizing: border-box;
    height: 90px;
    cursor: pointer;
    .title {
        position: relative;
        span {
            font-weight: bold;
            font-style: italic;
            font-size: 50px;
            line-height: 50px;
            color: white;
        }
        .subTitle {
            position: absolute;
            top: 5px;
            left: 60px;
            font-size: 25px;
            line-height: 25px;

        }
        .update {
            position: absolute;
            bottom: 2px;
            left: 55px;
            color: rgba(255, 255, 255, 0.5);
            font-size: 8px;
            font-weight: normal;
            font-style: normal;
            line-height: 8px;
        }
        .icon-bofang1 {
            position: absolute;
            font-weight: normal;
            right: 0;
            top: 2px;
            font-style: normal;
            color: rgba(255, 255, 255, 0.5);
            
        }
        .icon-bofang1:hover {
            color: white
        }
    }
}
.rank:first-of-type .background{
    background-image: linear-gradient(to right, rgb(86, 161, 227), rgb(90, 139, 235));
}
.rank:nth-of-type(2) .background{
    background-image: linear-gradient(to right, rgb(52, 170, 190), rgb(86, 194, 205));
}
.rank:nth-of-type(3) .background{
    background-image: linear-gradient(to right, rgb(213, 61, 106), rgb(235, 99, 141));
}
.rank:nth-of-type(4) .background{
    background-image: linear-gradient(to right, rgb(199, 82, 60), rgb(204, 116, 85));
}
.rank:nth-of-type(5) .background{
    background-image: linear-gradient(to right, rgb(148, 85, 206), rgb(153, 70, 201));
}
