<template>
  <div class="frame">
      <router-view ></router-view>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.frame {
    float: right;
    background:#FAFAFA;
    width:calc(100% - 200px);
    height:calc(100% - 50px);
    overflow:auto
}

</style>