<template>
    <div id="tabBar">
        <div class="brand">小滕音乐</div>

        <Search class="searchDiv"></Search>
        
    </div>
</template>

<script>
import Search from '../search'
export default {
    data() {
        return {

        }
    },
    components: {
        Search
    }

}
</script>

<style scoped>
#tabBar {
    position:relative;
    width: 100%;
    height: 50px;
    background: #C62F2F;
    z-index: 100;  
    /* 疑问 */
}
.searchDiv {
    position:absolute;
    top:14px;
    left:255px;
}
.brand {
    height:25px;
    font-size:15px;
    line-height: 22px;
    position:absolute;
    left:15px;
    top:14px;
    color:white
}
</style>