.imgBox {
    width: 100%;
    box-sizing: border-box;
    position:relative;
    color: white;
    border: 1px solid #E1E1E2;
    img {
        display:block;
    }
    .amount {
        text-align: right;
        line-height: 22px;
        padding-right: 5px;
        height: 22px;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 40%;
        background-image: linear-gradient(to right,rgba(0, 0, 0, 0) ,rgba(0,0,0,0.3));  
    }
    .creator {
        position: absolute;
        box-sizing: border-box;
        padding-left: 5px;
        bottom: 0;
        left: 0;
        height: 30px;
        font-size: 8px;
        line-height: 30px;
        width: 100%;
        background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) ,rgba(0,0,0,1));
    }
}
.imgBox:hover .icon-bofang {
    visibility: visible;
}
.songItem {
    margin-right: 2%;
    box-sizing: border-box;
    padding:0 0 10px 0;
    cursor: pointer;
    margin-bottom: 20px;
}
.songItem:nth-of-type(6n) {
    margin-right: 0px;
}
.itemArea {
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap
}
.recWords {
    margin-top: 5px;
    width: 100%;
    display: block;
    font-size: 14px;
    line-height: 20px;
    height: 40px;
}
.icon-bofang {
    position: absolute;
    bottom: 0;
    visibility: hidden;
    right: 5px;
    font-size: 20px;
}