<template>
    <div class="itemArea">
        <div :style="{width:width + '%'}" class="songItem" v-for="item in list" :key="item.id" @click="jumpList(item.id)">
            <div class="imgBox">
                <div class="amount" v-if="item.playCount">{{playAmount(item.playCount)}}</div>
                <img :src="item.coverImgUrl?item.coverImgUrl:item.picUrl" alt="" width="100%" height="100%">
                <div class="creator" v-if="item.creator">
                    <span style="font-size:8px" class="iconfont icon-user"></span>
                    {{item.creator.nickname}}
                </div>
                <span class="iconfont icon-bofang"></span>
            </div>
            <span class="recWords">{{item.name}}</span>
        </div>
    </div>
</template>

<script>
import {mixin} from '@/mixin/mixin.js'
export default {
    mixins:[mixin],
    props: {
        list: {
            type:Array
        },
        width: {
            type:Number
        }
    }
}
</script>

<style lang="less" scoped>
@import url('index.less');
</style>