h3 {
    display: inline-block;
    font-size: 14px;
}
a {
    position: relative;
    padding: 15px 0 15px 0;
    text-decoration:none;
    color:#666666;
    font-size: 14px;
    width: 75px;
    text-align: center;
    display: inline-block;
}
a:not(:first-of-type)::before {
    position: absolute;
    top: 15px;
    left: 0;
    content: '|';
    text-align: left;
    color: #D4CCD4;
}
a:hover {
    color: #333;
}

.category {
    width: 100%;
    height:50px;
}

.imgBox {
    width: 100%;
    box-sizing: border-box;
    position:relative;
    color: white;
    border: 1px solid #E1E1E2;
    img {
        display:block;
    }
    .amount {
        text-align: right;
        line-height: 22px;
        padding-right: 5px;
        height: 22px;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 40%;
        background-image: linear-gradient(to right,rgba(0, 0, 0, 0) ,rgba(0,0,0,0.3));  
    }
    .creator {
        position: absolute;
        box-sizing: border-box;
        padding-left: 5px;
        bottom: 0;
        left: 0;
        height: 30px;
        font-size: 8px;
        line-height: 30px;
        width: 100%;
        background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) ,rgba(0,0,0,1));
    }
}
.imgBox:hover .icon-bofang {
    visibility: visible;
}
.songItem {
    width:18%;
    box-sizing: border-box;
    padding:0 0 10px 0;
    cursor: pointer;
    margin-bottom: 20px;
}
.itemArea {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}
.recWords {
    margin-top: 5px;
    width: 100%;
    display: block;
    font-size: 14px;
    line-height: 20px;
    height: 40px;
}
.icon-bofang {
    position: absolute;
    bottom: 0;
    visibility: hidden;
    right: 5px;
    font-size: 20px;
}
.chosen {
    color: #C62F2F;
}