<template>
    <div>
        <div class="category">
            <h3>热门标签:</h3>
            <a href="javascript:;" :class="{chosen:choose === item.name}" v-for="(item,index) in listCategory" :key="index" @click="getSongList(item.name)">{{item.name}}</a>
        </div>
        <div class="itemArea">
            <div class="songItem" v-for="item in songList" :key="item.id" @click="jumpList(item.id)">
                <div class="imgBox">
                    <div class="amount">{{playAmount(item.playCount)}}</div>
                    <img :src="item.coverImgUrl" alt="" width="100%" height="100%">
                    <div class="creator">
                        <span style="font-size:8px" class="iconfont icon-user"></span>
                        {{item.creator.nickname}}
                    </div>
                    <span class="iconfont icon-bofang"></span>
                </div>
                <span class="recWords">{{item.name}}</span>
            </div>
        </div>
    </div>
</template>

<script>
import {mixin} from '@/mixin/mixin.js'
// import {mixin} from '@/minxin/mixin.js'
import { songList } from '@/api/instance.js'
export default {
    name:'SongList',
    mixins:[mixin],
    created() {
        this.getSongList()
        this.getCategory()
    },
    data() {
        return {
            choose:'',
            listCategory:[], //歌单分类
            songList:[] //歌单列表
        }
    },
    methods: {
        getCategory() {
            songList.getCategory().then( res => {
                this.listCategory = res.data.sub.slice(0,10)
            })
        },
        getSongList(cat) {
            if(this.choose === cat) return
            this.choose = cat
            let condition = {}
            if(cat) {
                condition = { params: {cat:cat}}
            }
            songList.getSongList(condition).then( res => {
                this.songList = res.data.playlists
            })
        },
        jumpList(id) {
            this.$router.push({
                path: `/songList/${id}`
            })
        }
    }
}
</script>

<style lang="less" scoped>
@import url('index.less');
</style>