<template>
    <div>
        <div class="subMenu">
            <router-link  to="/musicDisplay/musicList"  active-class="active">个性推荐</router-link>
            <router-link  to="/musicDisplay/songList"  active-class="active">歌单</router-link>
            <router-link  to="/musicDisplay/topList"  active-class="active">排行榜</router-link>
            <router-link  to="/musicDisplay/singer"  active-class="active">歌手</router-link>
            <router-link  to="/musicDisplay/newMusic"  active-class="active">最新音乐</router-link>
            <router-link  to="/musicDisplay/1221"  active-class="active">主播电台</router-link>
        </div>
        <router-view class="mainContent"></router-view>
    </div>

</template>

<script>
export default {
    name: "musicDisplay"

}
</script>

<style lang="less" scoped>
@import url('index.less');
</style>