.subMenu {
    display:flex;
    box-sizing: border-box;
    width:90%;
    min-width: 1038px;
    justify-content: center;
    height:44px;
    margin:0 auto;
    border-bottom: 1px solid #E1E1E2;
}
a {
    width: 80px;
    text-align: center;
    height: 44px;
    line-height: 42px;
    font-size: 14px;
    box-sizing: border-box;
    color: 	#333333;
    text-decoration: none;
}
a:hover {
    color: #C62F2F;
}
.mainContent {
    width:1000px;
    height:100%;
    margin:0 auto;
}
.active {
    color: #C62F2F;
    border-bottom: 2px solid #C62F2F;
}