<template>
  <div id="sideBar">
      <div class="item" v-for="(item,index) in list" :key="index">
          <div class="title">{{item.title}}</div>
          <router-link :to="subItem.link" active-class="active" v-for="(subItem,index) in item.children" :key="index">
            <div class="content" >
                <img style="width:26px;height:26px;vertical-align:middle" :src="subItem.svg" alt="">
                {{subItem.content}}
            </div>
          </router-link>
      </div>
  </div>
</template>

<script>
export default {
    data() {
        return {
            list: [
                {
                    title: '推荐',
                    children: [
                        {
                            link: "/musicDisplay",
                            svg: require('../../assets/image/leftmenu/music-line.svg'),
                            content:"发现音乐"
                        },
                        {
                            link: "/3333",
                            svg: require("../../assets/image/leftmenu/fm.svg"),
                            content:"私人FM"
                        },
                        {
                            link: "/123412",
                            svg: require("../../assets/image/leftmenu/shiping.svg"),
                            content:"视频"
                        },
                        {
                            link: "/3241",
                            svg: require("../../assets/image/leftmenu/zhibo.svg"),
                            content:"直播"
                        },
                        {
                            link: "/13421",
                            svg: require("../../assets/image/leftmenu/friend.svg"),
                            content:"朋友"
                        },
                        
                    ]
                },
                {
                    title: '我的音乐',
                    children: [
                        {
                            link: "/123123",
                            svg: require("../../assets/image/leftmenu/music.svg"),
                            content:"本地音乐"
                        },
                        {
                            link: "/123213",
                            svg: require("../../assets/image/leftmenu/xiazai.svg"),
                            content:"下载管理"
                        },
                    ]
                },
                {
                    title: '创建的歌单',
                    children: [
                        {
                            link: "/2131312",
                            svg: require("../../assets/image/leftmenu/yunpan.svg"),
                            content:"我的音乐云盘"
                        },
                    ]
                },
            ]
        }
    }

}
</script>

<style lang="less" scoped>
#sideBar {
    width:200px;
    float:left;
    height:calc(100% - 50px);
    background:	#F5F5F7;
    border-right:1px solid 	#E5E5E5;
    box-sizing: border-box;
    // overflow: hidden;
}
.active {
    border-left: 4px solid 	#C62F2F;
    background:#E6E7EA;
}
.item {
    font-size:12px;
    color: 	#7D7D7D;
    .title {
        margin:5px 0;
        height:30px;
        line-height: 30px;
        padding-left: 8px;
        
    }
    .content {
        box-sizing: border-box;
        line-height:35px;
        padding: 0 0 0 20px;
    }
}
a {
    border-left: 4px solid 	#F5F5F7;
    height:35px;
    display:block;
    box-sizing: border-box;
    color: 	#7D7D7D;
    line-height:35px;
    text-decoration: none;
}
a:hover {color: #000000}

</style>