.header {
  padding: 30px;
  display: flex;
  height: 200px;
}
.header img {
  display: block;
  width: 200px;
  height: 200px;
}
.header .details {
  margin-left: 30px;
  flex: 1;
}
.header .name {
  display: flex;
  justify-content: space-between;
}
.header .name .name_item {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  text-align: right;
  color: #999999;
  border-right: 1px solid #E1E1E2;
}
.header .name .name_item div:nth-of-type(2) {
  font-weight: bold;
}
.header .name .name_item:nth-of-type(2) {
  padding: 0 0 0 20px;
  border: none;
}
.header .name .listName {
  font-size: 24px;
}
.header .creator {
  padding: 10px 0;
}
.header .creator .imgBox {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;
  overflow: hidden;
}
.header .creator img {
  width: 30px;
  height: 30px;
}
.header .creator span:nth-of-type(1) {
  margin-left: 5px;
  font-size: 14px;
}
.header .creator span:nth-of-type(2) {
  margin-left: 15px;
  font-size: 10px;
  color: #9688A4;
}
.header .bofang {
  padding: 0 5px;
  width: 120px;
  height: 25px;
  line-height: 25px;
  box-sizing: border-box;
  border-radius: 4px;
  color: white;
  background: #C62F2F;
}
.header .operation {
  padding: 10px 0;
}
.header .label {
  padding: 5px 0;
}
.header .label span {
  color: #5D73CC;
}
.tabBar > div {
  display: inline-block;
  margin-left: 70px;
  padding: 0 3px;
  height: 30px;
  font-size: 14px;
  box-sizing: border-box;
  border-bottom: 4px solid #FAFAFA;
  cursor: pointer;
}
.tabBar {
  border-bottom: 1px solid #E1E1E2;
}
.tabBar .choose {
  border-bottom: 4px solid #C62F2F;
}
.head {
  display: flex;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  border-top: 1px solid #E1E1E2;
  border-bottom: 1px solid #E1E1E2;
}
.head div {
  border-left: 1px solid #E1E1E2;
  font-size: 13px;
  padding-left: 10px;
  color: #666666;
}
.head div:nth-of-type(1) {
  width: 60px;
  margin-left: 50px;
  box-sizing: border-box;
}
.head div:nth-of-type(2) {
  flex: 3;
}
.head div:nth-of-type(3) {
  flex: 2;
}
.head div:nth-of-type(4) {
  flex: 2;
}
.head div:nth-of-type(5) {
  flex: 1;
}
.item {
  display: flex;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
}
.item div {
  overflow: hidden;
  color: #888888;
  font-size: 12px;
  padding-left: 10px;
}
.item div:nth-of-type(1) {
  width: 50px;
  box-sizing: border-box;
  padding-right: 10px;
  text-align: right;
}
.item div:nth-of-type(2) {
  width: 60px;
  box-sizing: border-box;
}
.item div:nth-of-type(3) {
  color: black;
  flex: 3;
}
.item div:nth-of-type(4) {
  flex: 2;
}
.item div:nth-of-type(5) {
  flex: 2;
}
.item div:nth-of-type(6) {
  flex: 1;
}
.item:nth-of-type(even) {
  background: #F5F5F7;
}
.item:hover {
  background: #E3E3E5;
}
.collector {
  display: flex;
  flex-flow: wrap;
  text-align: center;
}
.collector > div {
  width: 100px;
  margin: 20px 40px;
}
.collector img {
  border-radius: 50%;
}
.comments {
  width: 90%;
  margin: 0 auto;
}
.comments h4 {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  margin-top: 50px;
}
.otherComments {
  padding: 20px 0;
  display: flex;
  border-top: 1px solid #F0F0F2;
}
.otherComments img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.otherComments .com_content {
  flex: 1;
  margin-left: 10px;
}
.otherComments .com_content .words {
  font-size: 14px;
}
.otherComments .com_content .words span {
  color: #1C7CC6;
  cursor: pointer;
}
.otherComments .com_content .time {
  height: 40px;
  line-height: 40px;
  color: #9E9E9E;
}
