<template>
    <div>
        <div class="header">
            <img :src="songListInfo.coverImgUrl" alt="">
            <div class="details">
                <div class="name">
                    <div class="listName">{{songListInfo.name}}</div>
                    <div>
                        <div class="name_item">
                            <div>歌曲数</div>
                            <div>{{songListInfo.trackCount}}</div>
                        </div>
                        <div class="name_item">
                            <div>播放数</div>
                            <div>{{playAmount(songListInfo.playCount)}}</div>
                        </div>
                    </div>
                </div>
                <div class="creator">
                    <div class="imgBox">
                        <img :src="songListInfo.creator.avatarUrl" alt="">
                    </div>
                    <span>{{songListInfo.creator.nickname}}</span>
                    <span>{{formateDate(songListInfo.createTime)}}创建</span>
                </div>
                <div class="operation">
                    <div class="bofang">
                        <span class="iconfont icon-bofang1" style="vertical-align:middle"></span>
                        <span style="vertical-align:middle;margin-left:5px">播放全部</span>
                        <span class="iconfont icon-jia" style="float:right;vertical-align:middle"></span>
                    </div>
                </div>
                <div class="label">
                    标签: 
                    <span v-for="(item,index) in songListInfo.tags" :key="index">{{item}}{{songListInfo.tags.length - 1 > index ? ' / ': ''}}</span>
                </div>
                <div class="description">
                    <p>简介：{{songListInfo.description}}</p>
                </div>
            </div>
        </div>

        <div class="tabBar">
            <div :class="{choose:chooseItem === 'list'}" @click="toggleTabBar('list')">歌曲列表</div>
            <div :class="{choose:chooseItem === 'comment'}" @click="toggleTabBar('comment')">评论({{songListInfo.commentCount}})</div>
            <div :class="{choose:chooseItem === 'collection'}" @click="toggleTabBar('collection')">收藏者({{songListInfo.subscribedCount}})</div>
        </div>

        <!-- 歌曲列表 -->
        <div class="table" v-show="chooseItem === 'list'">
            <div class="head">
                <div>操作</div>
                <div>音乐标题</div>
                <div>歌手</div>
                <div>专辑</div>
                <div>时长</div>
            </div>
            <div class="tbody">
                <div class="item" v-for="(item,index) in songListData" :key="index" @click="addMusic(item)">
                    <div>{{ 10 > index + 1 ? '0'+(index+1):index+1}}</div>
                    <div>
                        <span class="iconfont icon-xihuan" style="vertical-align:middle;font-size:22px"></span>
                        <span class="iconfont icon-download" style="vertical-align:middle"></span>
                    </div>
                    <div>{{item.name}}</div>
                    <div>{{item.artists[0].name}}</div>
                    <div>{{item.album.name}}</div>
                    <div>{{getTime(item.duration)}}</div>
                </div>
            </div>
        </div>

        <!-- 评论,以后考虑做成组件 -->
        <div class="comments" v-show="chooseItem === 'comment'">
            <h4>精彩评论</h4>
            <div class="otherComments" v-for="item in commentList" :key="item.commentId">
                <img :src="item.user.avatarUrl" alt="">
                <div class="com_content">
                    <div class="words">
                        <span>{{item.user.nickname + ':  '}}</span>{{item.content}}
                    </div>
                    <div class="time">{{transferDate(item.time)}}</div>
                </div>
            </div>
        </div>

        <!-- 收藏者 -->
        <div class="collector" v-show="chooseItem === 'collection'">
            <div v-for="item in songListInfo.subscribers" :key="item.userId">
                <img :src="item.avatarUrl" alt="" width="60px" height="60px" style="border-radius:50%">
                <div>{{item.nickname}}</div>
            </div>
        </div>
    </div>
</template>-

<script>
import { songListPage } from '@/api/instance.js'
import { mixin } from '@/mixin/mixin.js'
export default {
    name:'songListPage',
    mixins:[mixin],
    mounted() {
        this.getSongListDetails(this.$route.params.id)
    },
    data() {
        return {
            songListInfo:{
                creator: {}
            },
            songListData: [],
            chooseItem: 'list',
            commentList: []
        }  
    },
    computed: {
        transferDate() {
            return function(time) {
                let newTime = new Date(time)
                let year = newTime.getFullYear()
                let month = newTime.getMonth() + 1
                let day = newTime.getDay()
                let hour = newTime.getHours() > 10? newTime.getHours() : '0' + newTime.getHours()
                let min = newTime.getMinutes() >10? newTime.getMinutes() : '0' + newTime.getMinutes()
                return `${year}年${month}月${day}日 ${hour}:${min}`
            }
        },
        formateDate() {
            return function(date) {
                let time = new Date(date)
                let year = time.getFullYear()
                let month = (time.getMonth() + 1) > 10? time.getMonth() + 1: '0' + (time.getMonth() + 1)
                let day = time.getDay() > 10? time.getDay(): '0' + time.getDay()
                return `${year}-${month}-${day}`
            }
        },
    },
    methods: {
        addMusic(info) {
            this.$store.commit('pushSong',info)
        },
        toggleTabBar(choose) {
            this.chooseItem = choose
        },
        getSongListDetails(id) {
            let condition = {
                params: {
                    id
                }
            }
            songListPage.getSongListDetails(condition).then(res => {
                let idList = []
                this.songListInfo = res.data.playlist
                res.data.playlist.trackIds.forEach(item => {
                    idList.push(item.id)
                })
                let condition = {
                    params: {
                        ids:idList.join(',')
                    }
                }
                return songListPage.getSongDetails(condition)
            })
            .then(res => {
                //属实不得已
                res.data.songs.forEach(item => {
                    item.duration = item.dt
                    item.album = item.al
                    item.artists = item.ar
                })
                this.songListData = res.data.songs
                let condition = {
                    params: {
                        id:this.songListInfo.id
                    }
                }
                return songListPage.getSongListComments(condition)
            })
            .then(res => {
                this.commentList = res.data.comments
            })
        }
    }
}
</script>

<style lang="less" scoped>
@import 'index.less';
</style>