.rankItem {
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    display: flex;
    div {
        flex: 1;
    }
    span {
        display: inline-block;
    }
    .index {
        width: 50px;
        text-align: center;
        font-size: 16px;
        color: #666666;
    }
    .specIndex {
        color: #CD2929;
    }
    .song {
        width: 70%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .singer {
        text-align: right;
        color: 	#888888;
        width: 25%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
.rankItem:nth-of-type(odd) {
    background: #F5F5F7;
}
.rankItem:hover {
    background-color: #EBECED;
}