<template>
    <div>
        <div class="rankItem" v-for="(item,index) in rankDetailList" :key="index" @click="playMusic(item)">
            <span class="index" :class="{specIndex:index < 3}">{{index + 1}}</span>
            <div>
                <span class="song">{{item.name}}</span>
                <span class="singer">{{item.ar?item.ar[0].name:''}}</span>
            </div>
        </div>
    </div>
</template>

<script>
import { mixin } from '@/mixin/mixin'
import { topList } from '@/api/instance.js'
export default {
    name:'rankItem',
    mixins:[mixin],
    created() {
        this.getRankDetail()
    },
    props: {
        id: {
            type:Number
        }

    },
    data() {
        return {
            rankDetailList:[]
        }
    },
    methods: {
        getRankDetail() {
            if(this.id) {
                let condition = {
                    params:{
                        id:this.id
                    }
                }
                topList.getRankDetail(condition).then( res => {
                    this.rankDetailList = res.data.playlist.tracks.slice(0,8);
                })
            }
            else {
                topList.getTopArtist().then( res => {
                    this.rankDetailList = res.data.list.artists.slice(0,8)
                })
            }
        },
        playMusic(item) {
            item.duration = item.dt
            item.album = item.al
            item.artists = item.ar
            this.addMusic(item)
        }
    }

}
</script>

<style lang="less" scoped>
@import url('index.less');
</style>