<template>
    <div class="skelete">
        <input class = "search" type="text" placeholder="搜索音乐，视频，歌词，电台">
        <i class="iconfont icon-icon-test" style="color:#C36969;vertical-align:middle"></i>
    </div>
</template>

<script>
export default {

}
</script>

<style scoped>
@import 'index.css';
</style>