.skelete {
    width:200px;
    height:22px;
    background:#A82828;
    margin: 0 auto;
    border-radius: 9px;

}
.search {
    box-sizing: border-box;
    color: #FFFFFF;
    font-size:12px;
    height: 22px;
    line-height: 22px;
    outline-style: none;
    /* display: block; */
    border: 0px;
    width:175px;
    border-radius: 9px;
    background:#A82828;
    padding: 5px; 
}
input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #C36969;
}
input:-moz-placeholder {
/* Mozilla Firefox 4 to 18 */
color: #C36969;
}
input::-moz-placeholder {
/* Mozilla Firefox 19+ */
color: #C36969;
}
input::-ms-input-placeholder {
/* Internet Explorer 10+ */
color: #C36969;
}