<template>
    <transition name="slide">
        <div class="song" v-show="$store.state.showDetail">
            <div class="content">
                <!-- 切换显示 -->
                <div class="toggle" @click="toggleDisplay">
                    <img src="@/assets/image/playMusic/max.svg" alt="">
                </div>
                <!-- 播放部分 -->
                <div class="blurBg" :style="{backgroundImage:'url('+ currentSong.album.picUrl + ')'}"></div>
                <div class="mainPlay" style="background:https://p2.music.126.net/h6fl_N4KSBdE4WP4mNdHmA==/109951165265084816.jpg;">
                    <div class="disc">
                        <img class="point" src="@/assets/image/playMusic/play-bar-support.png" alt="" width="30px">
                        <img class="bar" :class="{barOn:$store.state.showDetail}" src="@/assets/image/playMusic/play-bar.png" alt="">
                        <div class="rotate">
                            <img :src="currentSong.album.picUrl" alt="">
                        </div>
                    </div>

                    <!-- 歌曲部分 -->
                    <div class="songArea">
                        <h2>{{currentSong.name}}</h2>
                        <div class="songInfo">
                            <div>专辑: <span>{{currentSong.name}}</span></div>
                            <div>歌手：<span>{{currentSong.artists[0].name}}</span></div>
                            <div>来源：<span>每日推荐</span></div>
                        </div>

                        <div class="songText" ref="swiper" style="overflow:hidden">
                                <!-- <div v-for="(item,index) in songArr" :key="index">{{item}}</div> -->
                            <ul>
                                <li v-for="(item,index) in songArr" :key="index" :class="{active:lyricIndex === index}">{{item.lyric}}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- 评论区 -->
                <div>
                    <div class="comments">
                        <h3>听友评论</h3>
                        <!-- 发表评论 -->
                        <div>
                            <input type="text" placeholder="发表评论">
                        </div>
                        <h4>精彩评论</h4>
                        <!-- 获取评论 -->
                        <div class="otherComments" v-for="item in commentList" :key="item.commentId">
                            <img :src="item.user.avatarUrl" alt="">
                            <div class="com_content">
                                <div class="words">
                                    <span>{{item.user.nickname + ':  '}}</span>{{item.content}}
                                </div>
                                <div class="time">{{transferDate(item.time)}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <audio :src="mp3Url" id="Audio" ref="musicDom" autoplay="autoplay" controls></audio>
        </div>
    </transition >
</template>

<script>
import { musicPlay } from '@/api/instance.js'
import BScroll from 'better-scroll'
export default {
    name:"playSong",
    created() {
    },
    mounted() {
        this.scroll = new BScroll(this.$refs.swiper, {})
        this.timer = window.setInterval(() => {
            let time = this.$refs.musicDom.currentTime
            this.songArr.forEach((item,index) => {
                if(parseInt(item.min)*60 + parseInt(item.second) === Math.round(time)) {
                    this.lyricIndex = index
                    if(this.lyricIndex > 2) {
                        this.scroll.scrollTo(0, -(this.lyricIndex - 2)*70, 500)
                        this.scroll.refresh()
                    }
                }
            })
            if(this.$refs.musicDom.ended) {
                this.$store.commit('next')
            }
            this.$store.commit('changeCurrentTime',Math.round(time))
        },1000)
    },
    computed: {
        transferDate() {
            return function(time) {
                let newTime = new Date(time)
                let year = newTime.getFullYear()
                let month = newTime.getMonth() + 1
                let day = newTime.getDay()
                let hour = newTime.getHours() > 10? newTime.getHours() : '0' + newTime.getHours()
                let min = newTime.getMinutes() >10? newTime.getMinutes() : '0' + newTime.getMinutes()
                return `${year}年${month}月${day}日 ${hour}:${min}`
            }
        },
        lyricList() {
            return this.$store.state.lyricList
        },
        currentSong() {
            return this.$store.getters.getCurrentSong
        },
        mp3Url() {
            return `https://music.163.com/song/media/outer/url?id=${this.currentSong.id}.mp3`
        },
        getSongIndex() {
            return this.$store.getters.getSongIndex
        }
    },
    data() {
        return {
            lyricIndex:0,
            commentList:[], //评论列表
            songText:'',
            songArr:[],
            timer: null,
        }
    },
    methods: {
        toggleDisplay() {
            this.$store.commit('toggleDisplay')
        },
        setUpTimer() {
            this.timer = window.setInterval(() => {
                let time = this.$refs.musicDom.currentTime
                this.songArr.forEach((item,index) => {
                    if(parseInt(item.min)*60 + parseInt(item.second) === Math.round(time)) {
                        this.lyricIndex = index
                        if(this.lyricIndex > 2) {
                            this.scroll.scrollTo(0, -(this.lyricIndex - 2)*70, 500)
                            this.scroll.refresh()
                        }
                    }
                })
                if(this.$refs.musicDom.ended) {
                    this.$store.commit('next')
                }
                this.$store.commit('changeCurrentTime',Math.round(time))
            },1000)
        },
        clearTimer() {
            window.clearInterval(this.timer)
        },
        getComments(id) {
            let condition = {
                params:{
                    id,
                    type:0
                }
            }
            musicPlay.getComments(condition).then(res => {
                this.commentList = res.data.hotComments
            })
        },
        getSongText(id) {
            let condition = {
                params:{
                    id,
                }
            }
            musicPlay.getSongText(condition).then(res => {
                this.songText = res.data.lrc.lyric
                let lyricArr = []
                let timeArr = []
                let lyricObj = {}
                let songArr = this.songText.split('\n')
                songArr.forEach(item => {
                    timeArr.push(item.split(']')[0])
                    lyricArr.push(item.split(']')[1])
                })
                this.songArr = []
                for(let i=0;i<songArr.length;i++) {
                    let min = timeArr[i].split(':')[0].slice(1)
                    let second = timeArr[i].split(':')[1]
                    let lyricObj = {
                        min,
                        second,
                        lyric:lyricArr[i]
                    }
                    if(lyricObj.lyric) {
                        this.songArr.push(lyricObj)
                    }
                }
                console.log(this.songArr);
                

            })
        }
    },
    watch: {
        lyricList: {
            immediate:true,
            handler(value) {
                this.getSongText(value[this.getSongIndex].id)
                this.getComments(value[this.getSongIndex].id)
            }
        },
        getSongIndex: {
            immediate:true,
            handler(value) {
                this.getSongText(this.lyricList[this.getSongIndex].id)
                this.getComments(this.lyricList[this.getSongIndex].id)
            }
        }
    }

}
</script>

<style lang="less" scoped>
@import url('index.less');
</style>