h2 {
    margin-top: 20px;
    font-size: 30px;
    height: 70px;
    line-height: 80px;
}
h3 {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1.5px solid #E1E1E2;
}
h4 {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
input {
    width: 100%;
    margin: 10px 0 30px 0;
    padding: 5px;
    color: black;
    box-sizing: border-box;
    outline-style: none ;
    border: 10px solid #F0F0F2;
}
input::placeholder {
    color: #E1E1E2;
}
li {
    height: 70px;
    line-height: 70px;
    font-size: 18px;

}
.active {
    color: white;
}
.comments {
    width: 60%;
    .otherComments {
        padding: 20px 0;
        display: flex;
        border-top: 1px solid #F0F0F2;
        img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }
        .com_content {
            flex: 1;
            margin-left: 10px;
            .words {
                font-size: 14px;
                span {
                    color: #1C7CC6;
                    cursor: pointer;
                }
            }
            .time {
                height: 40px;
                line-height: 40px;
                color: 	#9E9E9E;
            }
        }
    }
}
.song {
    width: 100%;
    position: fixed;
    height: calc(100vh - 100px);
    top: 50px;
    left: 0;
    overflow: auto;
    background: #FAFAFA;
    
}
.content {
    width: 1076px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    // background: grey;
    // background: url(https://p2.music.126.net/h6fl_N4KSBdE4WP4mNdHmA==/109951165265084816.jpg) no-repeat ;
    // background-size: 100%;
    // filter: blur(20px);
    .toggle {
        position: absolute;
        cursor: pointer;
        top: 45px;
        right: -100px;
        width: 50px;
        height: 30px;
        background: #C1C1C1;
        border-radius: 5px;
        img {
            display: block;
            width: 30px;
            margin: 0 auto;
            color: black;
        }
    }
}
.mainPlay {
    display: flex;
    justify-content: space-between;
}
.disc {
    width: 40%;
    position: relative;
    .rotate {
        width: 400px;
        height: 400px;
        margin: 70px auto 0 auto;
        border: 70px solid black;
        border-radius: 50%;
        box-sizing: border-box;
        overflow: hidden;
        animation: rotate 30s linear infinite;
        img {
            width: 100%;
            height: 100%;
            
        }
    }
}
.songArea {
    width: 50%;
    .songText {
        height: 450px;
        // background: red;
    }
    .songInfo {
        display: flex;
        font-size: 15px;
        div {
            color: #484C4F;
        }
        span {
            color: #3669AF;
        };
        :nth-child(1) {
            flex: 3;
        }
        :nth-child(2) {
            flex: 3;
        }
        :nth-child(3) {
            flex: 4;
        }
    }
}
.point {
    position: absolute;
    top: -15px;
    left: 200px;
    z-index: 2;
}

.bar {
    height: 160px;
    position: absolute;
    left: 210px;
    z-index: 1;
    transform-origin: top left;
    transform: rotate(-45deg);
}
.barOn {
    animation: toggle 0.5s linear forwards;
}
.blurBg {
    position:absolute;
    left: -500px;
    width: 1600px;
    height: 450px;
    overflow: hidden;
    z-index: -1;
    // background: url(http://p3.music.126.net/5SmP_AHuJIKtpFLuL6FQ9g==/109951165291773329.jpg) no-repeat ;
    background-size: 100%;
    filter: blur(100px);
}
.slide-enter-to, .slide-leave {
    transform: scale(1);
    transform-origin: bottom left;
    transition: transform 0.5s;
    
}
.slide-enter, .slide-leave-to {
    transform: scale(0);
    transform-origin: bottom left;
    transition: transform 0.8s;
}

@keyframes rotate{
    0%{ transform:rotate(0deg);}
    25%{transform:rotate(90deg);}
    50%{transform:rotate(180deg);}
    75%{transform:rotate(270deg);}
    100%{transform:rotate(360deg);}
}

@keyframes toggle {
    from { transform: rotate(-45deg); } to { transform: rotate(-5deg); }
}