<template>
  <div id="app">
    <tab-bar></tab-bar>
    <side-bar></side-bar>
    <!-- <router-view></router-view> -->
    <main-area></main-area>
    <Play></Play>
  </div>
</template>

<script>
import mainArea from './components/body'
import tabBar from './components/tabBar'
import sideBar from './components/sideBar'
import Play from '@/components/play'
export default {
    data() {
      return {

      }
    },
    components: {
      tabBar,
      sideBar,
      mainArea,
      Play
    }

}
</script>

<style lang="less">
@import './assets/css/reset.css';

#app {
  width:100%;
  height:100%;
  color: black;
  overflow: hidden;
}
</style>
