.play {
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  background: #F6F6F8;
  border-top: 1px solid #E5E5E5;
  height: 50px;
}
.play .control {
  flex: 1;
  display: flex;
  justify-content: space-around;
  line-height: 50px;
  padding: 0 5px 0 5px;
}
.play .control .icon-bofang2,
.play .control .icon-zanting {
  cursor: pointer;
  font-size: 40px;
  color: #E83C3C;
  vertical-align: middle;
  margin: 0 5px 0 5px;
}
.play .control .icon-shangyiji-tianchong,
.play .control .icon-xiayiji-tianchong {
  cursor: pointer;
  font-size: 40px;
  color: #E83C3C;
  vertical-align: middle;
}
.play .progress {
  flex: 7;
  display: flex;
  text-align: center;
}
.play .progress .current,
.play .progress .time {
  flex: 1;
  line-height: 50px;
  font-size: 12px;
}
.play .progress .time {
  flex: 1;
}
.play .setting {
  flex: 2;
  display: flex;
  line-height: 50px;
}
.play .setting .icon-yinliang {
  font-size: 20px;
  color: #666666;
}
.expand {
  position: fixed;
  left: 0;
  bottom: 50px;
  width: 200px;
  height: 70px;
  box-sizing: border-box;
  border-top: 1px solid #E1E1E2;
  padding: 7.5px;
  display: flex;
}
.expand .logo {
  position: absolute;
  display: none;
  width: 55px;
  left: 7.5px;
  top: 7.5px;
  background: rgba(0, 0, 0, 0.5);
}
.expand .logo img {
  display: block;
}
.expand img {
  vertical-align: center;
  width: 55px;
  height: 55px;
  cursor: pointer;
}
.expand .imgBox:hover .logo {
  display: block;
}
.expand .musicInfo {
  margin-left: 5px;
  flex: 1;
  height: 55px;
}
.expand .musicInfo span {
  width: 140px;
  display: block;
  height: 50%;
  line-height: 27.5px;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.barArea,
.barSub {
  position: relative;
}
.barArea .bar,
.barSub .bar {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  height: 3px;
  border-radius: 1px;
  background: #C2C2C4;
}
.barArea .bar .coverBar,
.barSub .bar .coverBar {
  position: absolute;
  height: 3px;
  background: #E83C3C;
}
.barArea .pointer,
.barSub .pointer {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #C3C3C3;
  border-radius: 50%;
  top: -3.5px;
  width: 10px;
  height: 10px;
  background: white;
}
.barArea {
  flex: 18;
}
.barSub {
  margin-left: 10px;
  width: 50%;
  min-width: 150px;
}
