<template>
    <div class="play" v-if="currentSong">
        <PlaySong  class="" ref="playSong"></PlaySong>

        <!-- 展开信息栏 -->
        <div class="expand" v-show="!$store.state.showDetail">
            <div class="imgBox">
                <img :src="currentSong.album.picUrl" alt="">
                <div class="logo">
                    <img src="@/assets/image/playMusic/max.svg" alt="" @click="toggleDisplay">
                </div>
            </div>
            <div class="musicInfo">
                <span>{{currentSong.name}}</span>
                <span>{{currentSong.artists[0].name}}</span>
            </div>
        </div>

        <!-- 底部bar -->
        <div class="control">
            <span class="iconfont icon-shangyiji-tianchong" v-show="hasPre" @click="preSong"></span>
            <span class="iconfont icon-zanting" v-show="isPlaying"  @click="togglePlay(isPlaying)"></span>
            <span class="iconfont icon-bofang2" v-show="!isPlaying" @click="togglePlay(isPlaying)"></span>
            <span class="iconfont icon-xiayiji-tianchong" v-show="hasNext" @click="nextSong"></span>
        </div>
        <div class="progress">
            <div class="current">{{getCurrentTime}}</div>
            <div class="barArea">
                <div class="bar">
                    <div class="pointer" :style="{ left:getProgress }"></div>
                    <div class="coverBar" :style="{ width:getProgress }"></div>
                </div>
            </div>
            <div class="time">{{getTime(currentSong.duration)}}</div>
        </div>
        <div class="setting">
            <div>
                <span class="iconfont icon-yinliang"></span>
            </div>
            <div class="barSub" style="width:100px">
                <div class="bar">
                    <div class="pointer"></div>
                    <div class="coverBar"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mixin} from '@/mixin/mixin'
import PlaySong from '@/views/playSong' 
export default {
    name:"PlayControl",
    mixins:[mixin],
    mounted() {

    },
    data() {
        return {
            duration: 267,
            currentTime: '',

        }
    },
    computed: {
        getCurrentTime() {
            return this.$store.getters.getCurrentTime
        },
        getProgress() {
            return (this.$store.getters.getCurrent / (this.currentSong.duration/1000))*100 + '%'
        },
        currentSong() {
            return this.$store.getters.getCurrentSong
        },
        isPlaying() {
            return this.$store.getters.getPlayStatus
        },
        hasNext() {
            return this.$store.getters.hasNext
        },
        hasPre() {
            return this.$store.getters.hasPre
        }
    },
    components: {
        PlaySong
    },
    methods: {
        toggleDisplay() {
            this.$store.commit('toggleDisplay')
        },
        togglePlay(isplay = true) {
            let playSong = this.$refs.playSong
            let musicDom = playSong.$refs.musicDom
            if(isplay) {
                musicDom.pause()
                this.$refs.playSong.clearTimer()
            }
            else {
                musicDom.play()
                this.$refs.playSong.setUpTimer()
            }
            this.$store.commit('togglePlaying')
        },
        nextSong() {
            this.$store.commit('next')
        },
        preSong() {
            this.$store.commit('pre')
        }
    }

}
</script>

<style lang="less" scoped>
@import url('index.less');
</style>